.card-container {
    box-sizing: border-box;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    align-self: auto;
    flex: 0 1 auto;
    order: 0;
    position: relative;
    padding: 10px;
    font-family: proxima-nova, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    justify-self: center;
}
.card-image {
    width: 500px;
    height: auto;
}

.card-detail {
    flex-direction: column;
    text-transform: uppercase;
    box-sizing: border-box;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    align-content: flex-start;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    display: flex;
    padding: 32px;
    font-family: proxima-nova, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    justify-content: center;
    width: 500px;
}

.card-detail h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #000; 
}

.card-detail p {
    font-size: 16px;
    margin: 10px 0;
    color: #000; 
}

.card-detail p:last-of-type {
    font-weight: bold;
    text-transform: uppercase;
}

.buttom-cart{
    background-color: #000; 
    color: #fff; 
    border: 2px solid #000; 
    padding: 10px 20px; 
    font-size: 16px; 
    font-weight: bold; 
    text-transform: uppercase; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: all 0.3s ease; 
}

@media only screen and (max-width: 1219px) and (min-width: 1016px) {
    .card-detail {
        padding: 0px 40px;
        width: 100%;
    }

    .card-image {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 1016px) and (min-width: 390px){
    .card-container {
        display: flex;
        flex-direction: column;
    }

    .card-image {
        width: 380px;
        height: auto;
    }
        .card-detail {
        padding: 0px 40px;
        width: 100%;
    }
}