.item-card {
    box-sizing: border-box;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    align-content: flex-start;
    flex-wrap: wrap;
    position: relative;
    width: 480.328px;
    display: flex;
    font-family: proxima-nova, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    flex-direction: column;
}

.item-card p {
    box-sizing: border-box;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
    color: rgb(158, 158, 158);
    font-size: 15px;
    orphans: 2;
    widows: 2;
    font-weight: 300;
    text-align: center;
    font-family: proxima-nova, sans-serif;
    line-height: 22.5px;
}

.item-card a {
    box-sizing: border-box;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    text-decoration: none solid rgb(0, 0, 0);
    font-size: 18px;
    line-height: 18px;
    font-family: ltc-bodoni-175, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
}

.img-card {
    height: 640.445px;
    max-width: 100%;
    box-sizing: border-box;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
    color: rgba(189, 149, 76, 0.94);
    break-inside: auto;
    border-radius: 0px;
    display: inline-block;
    vertical-align: middle;
    width: 480.336px;
    text-decoration-color: rgba(189, 149, 76, 0.94);
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    text-align: center;
    font-family: proxima-nova, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.div-title {
    box-sizing: border-box;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s, transform 0.4s;
    text-align: center;
    font-family: proxima-nova, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.div-title h2 {
    box-sizing: border-box;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    text-decoration: none solid rgb(0, 0, 0);
    font-size: 18px;
    line-height: 18px;
    font-family: ltc-bodoni-175, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
}

@media only screen and (max-width: 1440px) and (min-width: 1220px) {
    .item-card {
        box-sizing: border-box;
        background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
        color: rgb(0, 0, 0);
        align-content: flex-start;
        flex-wrap: wrap;
        position: relative;
        width: 374.664px;
        display: flex;
        font-family: proxima-nova, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
    
    .img-card {
        height: 499.547px;
        max-width: 100%;
        box-sizing: border-box;
        background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
        color: rgba(189, 149, 76, 0.94);
        break-inside: auto;
        border-radius: 0px;
        display: inline-block;
        vertical-align: middle;
        width: 374.664px;
        text-decoration-color: rgba(189, 149, 76, 0.94);
        text-decoration-style: solid;
        text-decoration-thickness: auto;
        text-align: center;
        font-family: proxima-nova, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
    
    .img-card p {
        color: rgb(158, 158, 158);
        font-size: 15px;
        box-sizing: border-box;
        margin-block: 0px 14.4px;
        background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
        orphans: 2;
        widows: 2;
        font-weight: 300;
        text-align: center;
        line-height: 22.5px;
    }
    
    .div-title {
        box-sizing: border-box;
        background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
        color: rgb(0, 0, 0);
        transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s, transform 0.4s;
        text-align: center;
        font-family: proxima-nova, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}

@media only screen and (max-width: 1219px) and (min-width: 1016px) {
    .item-card {
        box-sizing: border-box;
        background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
        color: rgb(0, 0, 0);
        align-content: flex-start;
        flex-wrap: wrap;
        position: relative;
        width: 487px;
        display: flex;
        font-family: proxima-nova, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
    
    .img-card {
        height: 649.328px;
        max-width: 100%;
        box-sizing: border-box;
        background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
        color: rgba(189, 149, 76, 0.94);
        break-inside: auto;
        border-radius: 0px;
        display: inline-block;
        vertical-align: middle;
        width: 487px;
        text-decoration-color: rgba(189, 149, 76, 0.94);
        text-decoration-style: solid;
        text-decoration-thickness: auto;
        text-align: center;
        font-family: proxima-nova, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}

@media only screen and (max-width: 1016px) and (min-width: 390px) {
    .item-card {
        box-sizing: border-box;
        background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
        color: rgb(0, 0, 0);
        align-content: flex-start;
        flex-wrap: wrap;
        position: relative;
        width: 380px;
        display: flex;
        font-family: proxima-nova, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
    
    .img-card {
        height: 500px;
        max-width: 100%;
        box-sizing: border-box;
        background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
        color: rgba(189, 149, 76, 0.94);
        break-inside: auto;
        border-radius: 0px;
        display: inline-block;
        vertical-align: middle;
        width: 380px;
        text-decoration-color: rgba(189, 149, 76, 0.94);
        text-decoration-style: solid;
        text-decoration-thickness: auto;
        text-align: center;
        font-family: proxima-nova, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}