header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.button-link {
    width: 200px;
    height: 40px;
    background-color: white;
    border: 2px solid black;
    align-content: center;
    text-decoration: none;
    color: black;
    align-items: center;
}

.button-link:hover {
    color: white;
    background-color: black;
}

.cart-link {
    text-decoration: none;
    list-style: none;
    background: none;
    color: inherit;
    margin: 0;
    padding: 0;
    border: none;
}

@media only screen and (max-width: 1015px) and (min-width: 600px){

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;
    }
    
    .button-link {
        width: 200px;
        height: 40px;
        background-color: white;
        border: none;
        align-content: center;
        text-decoration: none;
        color: black;
        align-items: center;
    }
    
    .button-link:hover {
        color: white;
        background-color: black;
    }
    
    .cart-link {
        text-decoration: none;
        list-style: none;
        background: none;
        color: inherit;
        margin: 0;
        padding: 0;
        border: none;
    }
}