.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    background-color: #f7f7f7; /* Color de fondo más claro */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Añade una sombra sutil */
    padding: 20px 20px; /* Incrementa el espacio */
    border-bottom: 2px solid #ddd; /* Línea inferior opcional */
}


.button-link {
    width: 200px;
    height: 40px;
    align-content: center;
    text-decoration: none;
    color: black;
    align-items: center;
    margin: 0px 15px;
}

.button-link:hover {
    text-decoration: underline !important;
}

.cart-link {
    text-decoration: none;
    list-style: none;
    background: none;
    color: inherit;
    margin: 0;
    padding: 0;
    border: none;
}

.menu-navbar {
    display: none;
    font-size: 30px;
}

.navbar-expanded {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7; /* Color de fondo más claro */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Añade una sombra sutil */
    padding: 20px 20px; /* Incrementa el espacio */
    border-bottom: 2px solid #ddd; /* Línea inferior opcional */
}

@media only screen and (max-width: 1015px) and (min-width: 750px){

    
    .button-link {
        width: 150px;
        height: 40px;
        border: none;
        align-content: center;
        text-decoration: none;
        color: black;
        align-items: center;
    }
    
    .button-link:hover {
        text-decoration-line: underline !important;
    }
    
    .cart-link {
        text-decoration: none;
        list-style: none;
        background: none;
        color: inherit;
        margin: 0;
        padding: 0;
        border: none;
    }

}

@media only screen and (max-width: 750px) and (min-width: 390px) {

    .navbar {
        display: none;
    }

    .button-link{
        display: none;
    }

    .button-link.open{
        display: block;
    }

    .navbar.open {
        display: flex;
        flex-direction: column;
    }
    .menu-navbar {
        display: block;
        width: 30px;
    }
}